site_name: Audiometer Documentation
theme:
  name: readthedocs
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotations
    - content.code.copy


plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google

nav:
  - Home: index.md
  - User Guide:
      - Introduction: user_guide/intro.md
      - Installation: user_guide/installation.md
      - Hardware Requirements: user_guide/hardware.md
  - Reference Manual:
      - audio_player: api/audio_player.md
      - audiogram: api/audiogram.md
      - main: api/main.md
      - model: api/model.md
      - ui: api/ui.md
  - About: about.md
